@model ResourceList

@{
    ViewBag.Title = "Home Page";
}

<nav>
    <picture>
        <img src="https://sockeyeconsulting.com/wp-content/uploads/2022/04/Sockeye-horizontal-color-REV.png" class="logo">
    </picture>
</nav>

<br />
<h3>List of simple strings to be sorted and checked for Anagrams.</h3>

<ul>
        <li>@string.Join(", ", @Model.SimpleList)</li>
</ul>

<br />

<ul>
    @foreach (var list in @Model.SimpleListAnagramSorted)
    {
        <li>@string.Join(", ", list)</li>
    }
</ul>

<br />
<h5>SimpleList Finished.</h5>
<br />

<h3>List of harder strings to be sorted and checked for Anagrams.</h3>

<ul>
    <li>@string.Join(", ", @Model.HarderList)</li>
</ul>

<br />

<ul>
    @foreach (var list in @Model.HarderListAnagramSorted)
    {
        <li>@string.Join(", ", list)</li>
    }
</ul>

<br />
<h5>HarderList Finished.</h5>
